.container
    h2.accordion__title Выпадающий список
    .accordion
        .accordion-item
            button#accordion-button-1(aria-expanded='false').accordion-button
                span.accordion-title Что такое Lorem ipsum?
                span.icon(aria-hidden='true')
                    svg(width='19' height='19')
                        use(href="#plus")
            .accordion-content
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        .accordion-item
            button#accordion-button-2(aria-expanded='false').accordion-button
                span.accordion-title Why is the sky blue?
                span.icon(aria-hidden='true')
                    svg(width='19' height='19')
                        use(href="#plus")
            .accordion-content
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        .accordion-item
            button#accordion-button-3(aria-expanded='false').accordion-button
                span.accordion-title Will we ever discover aliens?
                span.icon(aria-hidden='true')
                    svg(width='19' height='19')
                        use(href="#plus")
            .accordion-content
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        .accordion-item
            button#accordion-button-4(aria-expanded='false').accordion-button
                span.accordion-title How much does the Earth weigh?
                span.icon(aria-hidden='true')
                    svg(width='19' height='19')
                        use(href="#plus")
            .accordion-content
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
        .accordion-item
            button#accordion-button-5(aria-expanded='false').accordion-button
                span.accordion-title How do airplanes stay up?
                span.icon(aria-hidden='true')
                    svg(width='19' height='19')
                        use(href="#plus")
            .accordion-content
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.
