section.slider
    .slider__container.container
        h2.slider__title.title.title--block Слайдер
        .swiper-container.slider__block
            .swiper-wrapper.slider__wrapper
                a(href="#").swiper-slide.slider__item
                    picture
                        source(srcset="img/slider-0.webp" type="image/webp")
                        img(src="img/slider-0.png")
                    p.slider__descr Центр содействия трудоустройству
                a(href="#").swiper-slide.slider__item
                    picture
                        source(srcset="img/rgsu.webp" type="image/webp")
                        img(src="img/rgsu.jpg")
                    p.slider__descr Центр содействия
                a(href="#").swiper-slide.slider__item
                    picture
                        source(srcset="img/main.webp" type="image/webp")
                        img(src="img/main.png")
                    p.slider__descr Центр трудоустройства
            .swiper-pagination
            .swiper-button-prev.slider__nav.slider__nav--prev
            .swiper-button-next.slider__nav.slider__nav--next
