section.fast-links
    .fast-links__container.container
        h2.fast-links__title.title.title--block Быстрые ссылки
        h3.fast-links__subtitle.title.title--secondary Блоки с ссылкой на страницу
        .fast-links__wrapper
            a(href="#").fast-links__link Колледж
                svg(width="14" height="14")
                    use(href="#left-chev")
            a(href="#").fast-links__link Бакалавриат <br> Специалитет
                svg(width="14" height="14")
                    use(href="#left-chev")
            a(href="#").fast-links__link Магистратура
                svg(width="14" height="14")
                    use(href="#left-chev")
            a(href="#").fast-links__link Аспирантура
                svg(width="14" height="14")
                    use(href="#left-chev")
        h3.fast-links__subtitle.title.title--secondary Блоки с выпадающим списком
        .fast-links__wrapper
            .fast-links__link.fast-links__link--dropdown Колледж
                svg(width='14' height='14')
                    use(href="#left-chev")
                ul.fast__links-dropmenu
                    li
                        a(href="#") Специальности
                    li
                        a(href="#") Условия приема
                    li
                        a(href="#") Презентация
            .fast-links__link.fast-links__link--dropdown Бакалавриат <br> Специалитет
                svg(width='14' height='14')
                    use(href="#left-chev")
                ul.fast__links-dropmenu
                    li
                        a(href="#") Специальности
                    li
                        a(href="#") Условия приема
                    li
                        a(href="#") Презентация
            .fast-links__link.fast-links__link--dropdown Магистратура
                svg(width='14' height='14')
                    use(href="#left-chev")
                ul.fast__links-dropmenu
                    li
                        a(href="#") Специальности
                    li
                        a(href="#") Условия приема
                    li
                        a(href="#") Презентация
            .fast-links__link.fast-links__link--dropdown Аспирантура
                svg(width='14' height='14')
                    use(href="#left-chev")
                ul.fast__links-dropmenu
                    li
                        a(href="#") Специальности
                    li
                        a(href="#") Условия приема
                    li
                        a(href="#") Презентация
