.main__hero {
    position: relative;
    margin-bottom: 40px;
    min-height: calc(100vh - 129px);
    img {
        width: 100%;
        height: calc(100vh - 129px);
        object-fit: cover;
        object-position: top;
    }
}
