section.slider
    .slider__container.container
        h2.slider__title.title.title--block.visually-hidden Слайдер
        .swiper-container.slider__block
            .swiper-wrapper.slider__wrapper
                a(href="#" style="background: url(img/slider-0.png) center 100%/cover").swiper-slide.slider__item
                    p.slider__descr Центр содействия трудоустройству
                a(href="#" style="background: url(img/rgsu.jpg) center 100%/cover").swiper-slide.slider__item
                    p.slider__descr Центр содействия
                a(href="#" style="background: url(img/main.png) center 100%/cover").swiper-slide.slider__item
                    p.slider__descr Центр трудоустройства
            .swiper-pagination
            .swiper-button-prev.slider__nav.slider__nav--prev
            .swiper-button-next.slider__nav.slider__nav--next
