section.forms
    .forms__container.container
        h2.forms__title.title.title--block Поля форм
        form(autocomplete='off').form__group.material-form
            .material-input
                input( id='email' type='email' placeholder=' ' required='true')
                label(for='email') Электронная почта
                span.error Email введен некорректно. Пример: example@domain.ru
                span.isCorrect
                    svg(width="18" height="14" fill="#5cbc91")
                        use(href="#check")
