section.news-block
    .news-block__container.container
        h2.news-block__title.title.title--block Новостной блок
        .news-block__wrapper
            article.news-block__item
                picture
                    source(src='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(src='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(src='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(src='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(src='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(src='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
