section.hotels
    .hotels__container.container
        h2.hotels__title.title--block.title Блок с общагами
        ul.hotels__list
            li.hotels__item
                a(href="#").hotels__link
                    figure.hotels__picture
                        picture
                            source(srcset="img/living.webp" type="image/webp")
                            img(src="img/living.jpg")
                        figcaption г.Москва, ул. Инженерная, д.4
                .hotels__info
                    a(href="#").hotels__item-title Общежитие №5
                    a(href="#").hotels__item-contacts Контакты
                    a(href="#").hotels__find Как добраться
            li.hotels__item
                a(href="#").hotels__link
                    figure.hotels__picture
                        picture
                            source(srcset="img/living.webp" type="image/webp")
                            img(src="img/living.jpg")
                        figcaption г.Москва, ул. Инженерная, д.4
                .hotels__info
                    a(href="#").hotels__item-title Общежитие №5
                    a(href="#").hotels__item-contacts Контакты
                    a(href="#").hotels__find Как добраться
