main.main
    section.hero.employment__hero
        .hero__wrapper(style="background: url(img/chicks-full.jpg) no-repeat 100%/cover").hero-employment__wrapper
            .hero__container.container
                .hero-employment__container
                    h2.hero__title.hero__employment-title Трудоустройство
    section.vacancies
        h2.visually-hidden Вакансии и стажировки
        .vacancies__container.container
            .vacancies__grid
                .vacancies__grid-cell.vacancies__grid-cell--big
                    img(src="img/rgsu.jpg" alt="")
                    .vacancies__info.vacancies__info--big
                        h3.vacancies__title.vacancies__title--big Вакансии и стажировки
                .vacancies__grid-cell.vacancies__grid-cell--1
                    img(src="img/rgsu2.jpg" alt="")
                    .vacancies__info
                        h3.vacancies__title  Центр содействия трудоустройству
                .vacancies__grid-cell.vacancies__grid-cell--2
                    img(src="img/rgsu2.jpg" alt="")
                    .vacancies__info
                        h3.vacancies__title Центр содействия трудоустройству
