section.news
    .news__container.container
        h2.news__title.title.title--block Новости
        .news__filter
            select.news__select
                option(disabled=true selected=true) Все категории
                option Не все категории
            button.news__date
                svg(width="18" height="19")
                    use(href="#calendar")
            button.news__search
                svg(width="18" height="19")
                    use(href="#search")
        .news__season.news-block__wrapper
            h3.news__season-title.title.title--secondary Ноябрь
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
        .news__season.news-block__wrapper
            h3.news__season-title.title.title--secondary Октябрь
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
            article.news-block__item
                picture
                    source(srcset='img/gallery-0.webp' type='image/webp')
                    img(src='img/gallery-0.png').news-block__image
                time.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.news-block__link Как будут учиться школьники после каникул: ответы на основные вопросы
                a.news-block__tag-link.tag-link Поступающим
        button.btn.news__load-more Загрузить еще
