section.pages
    .pages__container.container
        h2.visually-hidden Список страниц
        ul.pages__list
            li.pages__item
                a(href='index.html').pages__link Главная
            li.pages__item
                a(href='components.html').pages__link Компоненты
            li.pages__item
                a(href='abiturients.html').pages__link Абитуриентам
            li.pages__item
                a(href='employment.html').pages__link Трудоустройство
            li.pages__item
                a(href='events.html').pages__link События
            li.pages__item
                a(href='inner.html').pages__link Внутренняя страница
            li.pages__item
                a(href='news.html').pages__link Новости
