section.links
    .links__container.container
        h2.links__title.title.title--block Блок с ссылками
    .links__wrapper
        .links__inner.container
            h3.links__wrapper-title.title.title--light Заголовок блока
            .links__wrapper
                .links__block
                    ul.links__list
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать электронную заявку на обучение?
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать заявку на электронное обучение?
                .links__block
                    ul.links__list
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать электронную заявку на обучение?
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать заявку на электронное обучение?
                .links__block
                    ul.links__list
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать электронную заявку на обучение?
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать заявку на электронное обучение?
                .links__block
                    ul.links__list
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать электронную заявку на обучение?
                        li.links__item
                            a.links__link(href='#') Где узнать информацию для иностранных студентов?
                        li.links__item
                            a.links__link(href='#') Как подать заявку на электронное обучение?
