.fast-links {
    margin-bottom: 120px;
}

.fast-links__wrapper {
    display: flex;
    margin-bottom: 36px;
    position: relative;
    gap: 5px;
    flex-wrap: wrap;
}

.fast-links__link {
    color: $c-blue-300;
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    padding: 13px;
    display: flex;
    align-items: center;
    border-radius: 2.5px;
    border: 1px solid $c-blue-300;
    position: relative;
    padding-right: 15%;
    transition: 0.2s;
    width: 49%;
    height: 66px;
    svg {
        position: absolute;
        fill: transparent;
        stroke: $c-blue-300;
        right: 20px;
        transition: 0.2s;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        background: $c-blue-300;
        color: $c-white-0;
        svg {
            stroke: $c-white-0;
        }
    }
    @media (min-width: $tablet) {
        width: 240px;
    }
}

.fast__links-dropmenu {
    @include list-reset;
    visibility: hidden;
    display: none;
}

.fast-links__link--dropdown:hover {
    svg {
        transform: rotate(90deg) translateX(-50%);
    }
    .fast__links-dropmenu {
        display: block;
        visibility: visible;
        position: absolute;
        bottom: -100px;
        background: $c-blue-300;
        width: 240px;
        left: -1px;
        padding-top: 26px;
        z-index: 3;
        border-radius: 2.5px;
        padding-bottom: 16px;
        a {
            color: $c-white-0;
            font-size: rem-calc(14);
            line-height: rem-calc(19);
            padding-left: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
        @media (max-width: 1023px) {
            width: 101%;
        }
    }
}
