section.forms
    .forms__container.container
        h2.forms__title.title.title--block Поля форм
        .form__group
            input(type='email' required=true id="formEmail").forms__email-input
            label(for="formEmail").forms__email-label Электронная почта
            span.forms__email-invalid Email введен некорректно. Пример: example@domain.ru
            span.forms__email--isValid
