section.container
    h1.title Заголовок - h1
    h2.title.title--secondary Подзаголовок - h2
    h3.title.title--subtitle Третий заголовок - h3
    p Обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст обычный текст
