section.text-content
    .text-content__container.container
        h2.text-content__title.title.title--block Текстовый блок
        article.text-content__article
            p.text-content__content
                | 1 октября 2020 года в Общественной палате Российской Федерации прошел круглый стол «Духовные истоки величия имиджа России», соорганизаторами которого выступили РГСУ и Академия имиджелогии
                br
                | Наталья Починок, ректор РГСУ и  председатель Комиссии Общественной палаты по социальной политике, трудовым отношениям и поддержке ветеранов в своём приветственном слове отметила важность обсуждаемой темы для социального развития страны.
            p.text-content__content
                | Модератором круглого стола выступила Президент Академии имиджелогии, декан факультета психологии РГСУ Елена Петрова. Мероприятие было посвящено 90-летию патриарха российского социального знания, одного из основателей современной имиджелогии как научно-прикладной области, Виктора Максимовича Шепеля.
            p.text-content__content
                | Лейтмотивом круглого стола стал доклад Виктора Максимовича, представившего свою концепцию духовных истоков имиджа современной России. В ходе обсуждения рассматривались пути и технологии укрепления позитивного имиджа нашей страны, достижения её былого величия.
            p.text-content__content
                | По результатам работы круглого стола участниками сформирован ряд предложений, главным из которых стало инициирования сооздания при Общественной палате Российской Федерации экспертной группы по имиджу России.
