//main page
.hero-main__wrapper {
    height: calc(100vh - 75px);
    @media (min-width: $tablet) {
        height: calc(100vh - 129px);
    }
}

.hero-main__container {
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    @media (min-width: $tablet) {
    }
}

.hero__main-title {
    background: #9d9d9d;
    color: $c-white-0;
    padding: 13px 20px;
    display: inline-block;
    font-size: rem-calc(18);
    line-height: rem-calc(21);
    width: fit-content;
}

.hero__main-descr {
    margin: 0 0 20px;
    font-size: rem-calc(20);
    line-height: rem-calc(23);
    background: $c-white-0;
    padding: 18px 30px;
    width: fit-content;
}

.hero__main-more {
    background: $c-white-0;
    color: #337ab7;
    padding: 10px 30px;
    width: fit-content;
    border-radius: 2.5px;
    border: 1px solid #337ab7;
    box-sizing: border-box;
}

//abiturients

.hero-abiturients__container {
    padding-top: 77px;
    @media (min-width: 1026px) {
        padding-top: 77px;
    }
    @media (min-width: 1440px) {
        padding-top: 202px;
    }
}

.hero-abiturients__wrapper {
    height: calc(100vh - 75px - 438px);
    @media (min-width: $tablet) {
        height: calc(100vh - 129px - 223px);
    }
}

.hero__abiturients-title {
    color: $c-white-0;
    font-size: rem-calc(36);
    line-height: rem-calc(42);
    padding-bottom: 101px;
    @media (min-width: $tablet) {
        font-size: rem-calc(60);
        line-height: rem-calc(70);
        text-transform: uppercase;
    }
}

.hero__abiturients-more {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: $tablet) {
        min-width: 260px;
        height: 55px;
    }
}

//global styles

.hero {
    overflow: hidden;
    margin-bottom: 34px;
}

.hero__title {
    margin: 0;
}
