section.gallery
    .gallery__container.container
        h2.gallery__titie.title.title--block Галерея
        .swiper-container.gallery-top
            .swiper-wrapper
                .swiper-slide(style='background-image:url(./img/gallery-0.png)')
                .swiper-slide(style='background-image:url(./img/gallery-1.png)')
                .swiper-slide(style='background-image:url(./img/gallery-2.png)')
                .swiper-slide(style='background-image:url(./img/gallery-3.png)')
        .swiper-container.gallery-thumbs
            .swiper-wrapper
                .swiper-slide(style='background-image:url(./img/gallery-0.png)')
                .swiper-slide(style='background-image:url(./img/gallery-1.png)')
                .swiper-slide(style='background-image:url(./img/gallery-2.png)')
                .swiper-slide(style='background-image:url(./img/gallery-3.png)')
