section.face-list
    .face-list__container.container
        h2.face-list__title.title.title--block Список лист
        ul.face-list__list
            li.face-list__item
                a(href="#").face-list__link
                    picture
                        source(srcset="img/avatar-1.webp" type="image/webp")
                        img(src="img/avatar-1.png")
                    p.face-list__name
                        b Починюк <br> Наталья Борисовна
                    p.face-list__job Председатель Ученого совета
                    p.face-list__descr Доктор экономических наук, доцент, действительный член Российской академии социальных наук.
            li.face-list__item
                a(href="#").face-list__link
                    picture
                        source(srcset="img/avatar-1.webp" type="image/webp")
                        img(src="img/avatar-1.png")
                    p.face-list__name
                        b Починюк <br> Наталья Борисовна
                    p.face-list__job Председатель Ученого совета
                    p.face-list__descr Доктор экономических наук, доцент, действительный член Российской академии социальных наук.
            li.face-list__item
                a(href="#").face-list__link
                    picture
                        source(srcset="img/avatar-1.webp" type="image/webp")
                        img(src="img/avatar-1.png")
                    p.face-list__name
                        b Починюк <br> Наталья Борисовна
                    p.face-list__job Председатель Ученого совета
                    p.face-list__descr Доктор экономических наук, доцент, действительный член Российской академии социальных наук.
            li.face-list__item
                a(href="#").face-list__link
                    picture
                        source(srcset="img/avatar-1.webp" type="image/webp")
                        img(src="img/avatar-1.png")
                    p.face-list__name
                        b Починюк <br> Наталья Борисовна
                    p.face-list__job Председатель Ученого совета
                    p.face-list__descr Доктор экономических наук, доцент, действительный член Российской академии социальных наук.
            li.face-list__item
                a(href="#").face-list__link
                    picture
                        source(srcset="img/avatar-1.webp" type="image/webp")
                        img(src="img/avatar-1.png")
                    p.face-list__name
                        b Починюк <br> Наталья Борисовна
                    p.face-list__job Председатель Ученого совета
                    p.face-list__descr Доктор экономических наук, доцент, действительный член Российской академии социальных наук.
            li.face-list__item
                a(href="#").face-list__link
                    picture
                        source(srcset="img/avatar-1.webp" type="image/webp")
                        img(src="img/avatar-1.png")
                    p.face-list__name
                        b Починюк <br> Наталья Борисовна
                    p.face-list__job Председатель Ученого совета
                    p.face-list__descr Доктор экономических наук, доцент, действительный член Российской академии социальных наук.
