.dropdown {
    display: none;
    @media (min-width: $tablet) {
        display: block;
        min-width: 110px;
    }
}

.dropdown__list {
    visibility: hidden;
    position: absolute;
    left: -20%;
    top: 100%;
    @include list-reset;
    background: $c-blue-600;
    width: 120%;
    .dropdown:hover & {
        visibility: visible;
        z-index: 10;
    }
}

.dropdown__item {
    transition: 0.2s;
    padding: 10px 20px;
    &:hover {
        background: $c-blue-400;
    }
    a {
        color: $c-white-0;
    }
}
