.navigation__list {
    @include list-reset;
    padding-top: 60px;
}

.navigation__submenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 10%;
    transform: translateX(100%);
    right: 0;
    background: $c-blue-400;
    transition: .5s;
    z-index: 2;

    &--active  {
        transform: translateX(0);
    }
}

.navigation__item {
    a {
        color: $c-white-0;
        padding: 0.7rem 20px;
        line-height: 1.4;
        font-weight: 700;
        position: relative;
        display: block;
        pointer-events: none;
        &::after {
            content: "";
            display: block;
            position: absolute;
            right: 2rem;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 22px;
            background: url("../img/icons/left-chev.svg") no-repeat center;
        }
    }
}

.navigation__back {
    @include btn-reset;
    color: #fff;
    padding: .7rem 20px;
    padding-left: 40px;
    line-height: 1.4;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    svg {
        position: absolute;
        left: 20px;
    }

}
