section.announcement
    .announcement__container.container
        h2.announcement__title.title.title--block Блок анонсов
        .announcement__wrapper
            article.announcement__item
                time.announcement__datetime.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.announcement__link.news-block__link(href='#') Вебинар "Направление «Социальная работа»: лайфхаки для тех, кто настроен на победу"
                p.announcement__descr 1 октября 2020 года в Общественной палате Российской Федерации прошел круглый стол «Духовные истоки величия имиджа России
                a.announcement__tag-link.tag-link.tag-link--edu Образование
            article.announcement__item
                time.announcement__datetime.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.announcement__link.news-block__link(href='#') Вебинар "Направление «Социальная работа»: лайфхаки для тех, кто настроен на победу"
                a.announcement__tag-link.tag-link.tag-link--edu Образование
            article.announcement__item
                time.announcement__datetime.news-block__datetime(pubdate datetime="2020-10-03") 03 октября, 2020
                a.announcement__link.news-block__link(href='#') Вебинар "Направление «Социальная работа»: лайфхаки для тех, кто настроен на победу"
                p.announcement__descr 1 октября 2020 года в Общественной палате Российской Федерации прошел круглый стол «Духовные истоки величия имиджа России
                a.announcement__tag-link.tag-link.tag-link--edu Образование
