footer.footer
    .footer__container.container
        .footer__wrapper
            h4.footer__title Контакты
            ul.footer__list.footer__list--contacts
                li.footer__list-item
                    a(href="#").footer__list-link <span> Приемная комиссия </span> <br> +7 (495) 255-67-67 <br> pk@rgsu.net
                li.footer__list-item
                    a(href="#").footer__list-link <span> Call-центр </span> <br> +7 (495) 255-67-67
                li.footer__list-item
                    a(href="#").footer__list-link <span> Медиацентр </span> <br> media@rgsu.net
                li.footer__list-item
                    a(href="#").footer__list-link <span> Вопросы и предложения по сайту </span> <br> marketing@rgsu.net
        .footer__wrapper
            h4.footer__title Наш университет
            ul.footer__list.footer__list--university
                li.footer__list-item
                    a(href="#").footer__list-link Видение и миссия
                li.footer__list-item
                    a(href="#").footer__list-link Программа развития
                li.footer__list-item
                    a(href="#").footer__list-link РГСУ и стратегия
                li.footer__list-item
                    a(href="#").footer__list-link РГСУ
                li.footer__list-item
                    a(href="#").footer__list-link Руководство
                li.footer__list-item
                    a(href="#").footer__list-link Инфраструктура
                li.footer__list-item
                    a(href="#").footer__list-link Факультеты
                li.footer__list-item
                    a(href="#").footer__list-link Филиалы
                li.footer__list-item
                    a(href="#").footer__list-link Международная деятельность
                li.footer__list-item
                    a(href="#").footer__list-link Научно-исследовательская деятельность
                li.footer__list-item
                    a(href="#").footer__list-link Часто задаваемые вопросы
        .footer__wrapper
            h4.footer__title Поступающим
            ul.footer__list.footer__list--abiturients
                li.footer__list-item
                    a(href="#").footer__list-link Направления подготовки
                li.footer__list-item
                    a(href="#").footer__list-link Факультеты
                li.footer__list-item
                    a(href="#").footer__list-link Стоимость обучения
                li.footer__list-item
                    a(href="#").footer__list-link Калькулятор ЕГЭ
                li.footer__list-item
                    a(href="#").footer__list-link Общежития
                li.footer__list-item
                    a(href="#").footer__list-link Часто задаваемые вопросы
                li.footer__list-item
                    a(href="#").footer__list-link Иностранным студентам
                li.footer__list-item
                    a(href="#").footer__list-link Дополнительное профессиональное образование
        .footer__wrapper
            h4.footer__title Студентам
            ul.footer__list.footer__list--students
                li.footer__list-item
                    a(href="#").footer__list-link Расписание занятий
                li.footer__list-item
                    a(href="#").footer__list-link Централизованный деканат
                li.footer__list-item
                    a(href="#").footer__list-link Стипендия
                li.footer__list-item
                    a(href="#").footer__list-link Оплата услуг
                li.footer__list-item
                    a(href="#").footer__list-link Система дистанционного обучения
                li.footer__list-item
                    a(href="#").footer__list-link Перевод и восстановление студентов
                li.footer__list-item
                    a(href="#").footer__list-link Волонтерский центр
        .footer__wrapper
            h4.footer__title Важное
            ul.footer__list.footer__list--important
                li.footer__list-item
                    a(href="#").footer__list-link Вакансии
                li.footer__list-item
                    a(href="#").footer__list-link Сведения об образовательной организации
                li.footer__list-item
                    a(href="#").footer__list-link Противодействие коррупции
                li.footer__list-item
                    a(href="#").footer__list-link Сведения о доходах руководителя и членов его семьи
                li.footer__list-item
                    a(href="#").footer__list-link Минобрнауки.рф
                li.footer__list-item
                    a(href="#").footer__list-link Департамент образования г. Москвы
                li.footer__list-item
                    a(href="#").footer__list-link Оценить услуги РГСУ
    hr
    .footer__social
        .social__container.container
            h3.social__title.title.title--subtitle Мы в соцсетях
            ul.social
                li.social__item.social__item--youtube
                    a(href="#" aria-label="Ссылка на Youtube") Youtube
                        svg(width='25' height='25')
                            use(href="#youtube-logo")
                li.social__item.social__item--vk
                    a(href="#" aria-label="Ссылка на VK") VK
                        svg(width='25' height='25')
                            use(href="#vk-logo")
                li.social__item.social__item--facebook
                    a(href="#" aria-label="Ссылка на Facebook") Facebook
                        svg(width='25' height='25')
                            use(href="#facebook-logo")
                li.social__item.social__item--instagram
                    a(href="#" aria-label="Ссылка на Instagram") Instagram
                        svg(width='25' height='25')
                            use(href="#instagram-logo")
    p.footer__copy © 2008-2020 РГСУ. Сделано в РГСУ.
