section.rubricator
    .rubricator__container.container
        h2.rubricator__title.title.title--secondary Рубрики для новостей
        .rubricator__wrapper
            .rubricator__tag.tag-link.tag-link--edu Образование
            .rubricator__tag.tag-link.tag-link--science Наука
            .rubricator__tag.tag-link.tag-link--student Студенческая жизнь
            .rubricator__tag.tag-link.tag-link--work Трудоустройство
            .rubricator__tag.tag-link.tag-link--achievements Достижения
            .rubricator__tag.tag-link.tag-link Поступающим




