section.faq-links
    .faq-links__container.container
        ul.faq-links__list
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--pdf Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--word Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--excel Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--point Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--link Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--pic Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--pdf Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--word Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--excel Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--point Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--link Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--pic Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--pdf Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--word Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--excel Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--point Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--link Как подать электронную заявку на обучение.
            li.faq-links__item
                a(href='#').faq-links__link.faq-links__link--pic Как подать электронную заявку на обучение.