section.images
    .images__container.container
        h2.images__title.title.title--block Картинки с текстом
        .images__wrapper
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title Образовательный кредит
                    p.images__descr С государственной поддержкой
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
        .images__wrapper-middle
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
        .images__wrapper-small
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
            a(href="#").images__item
                picture
                    source(srcset="img/rgsu.webp" type="image/webp")
                    img(src="img/rgsu.jpg").images__image
                .images__cover
                    p.images__cover-title  Образовательный кредит
                    p.images__descr С государственной поддержкой
