section.table-block
    .table-block__container.container
        h2.title.title--block.table-block__title Таблица
        table.table
            thead.table__header
                tr.table__row
                    th.table__title Наименование органа управления / структурного подразделения
                    th.table__title ФИО и должность руководителя структурного подразделения
                    th.table__title Адрес местонахождения структурного подразделения
                    th.table__title Адрес официального сайта структурного подразделения
                    th.table__title Адреса электронной почты структурного подразделения
                    th.table__title Положение об органе управления/ о структурном подразделении
            tbody.table__body
                tr.table__row
                    td.table__cell Ученый совет РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                tr.table__row
                    td.table__cell Ученый совет РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ
                    td.table__cell Починок Наталья Борисовна Председатель Ученого совета, Ректор РГСУ

