section.checkboxes
    .checkboxes__container.container
        .checkboxes__wrapper
            label(for="checkOne").checkbox__label Чекбокс
                input(type='checkbox' id="checkOne").checkbox__input
                span.checkbox__appearance
                span  Обычное
            label(for="checkTwo").checkbox__label Чекбокс
                input(type='checkbox' id="checkTwo" checked=true).checkbox__input
                span.checkbox__appearance
                span  Выбран
