.buttons {
    margin-bottom: 32px;
}

.buttons__primary {
    margin-bottom: 26px;
    width: 100%;
}

.buttons__secondary {
    width: 100%;
}

.buttons__wrapper {
    display: flex;
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
    @media (min-width: $tablet) {
        flex-wrap: unset;
    }
}

.btn {
    @include btn-reset;
    display: block;
    color: $c-white-0;
    padding-top: 17px;
    padding-bottom: 17px;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
    width: 100%;
    background: $c-blue-300;
    border-radius: 2.5px;
    border: 1px solid transparent;
    transition: .5s;
    @media (min-width: $tablet) {
        max-width: 166px;
    }
    &:hover {
        background: $c-white-0;
        color: $c-blue-300;
        border: 1px solid $c-blue-300
    }
    &:disabled {
        background: $c-grey-200;
        color: #D3DAE4;
        &:hover {
            border: 1px solid transparent;
        }
    }

    &--secondary {
        background: $c-white-0;
        border: 1px solid $c-blue-300;
        color: $c-blue-300;
        &:hover {
            background: $c-blue-600;
            color: $c-white-0;
            border: 1px solid transparent;
        }
    }
}
