//Заголовки

.title {
    font-weight: bold;
    font-size: rem-calc(36);
    line-height: rem-calc(42);
    color: $c-black-0;
    margin: 0 0 40px;
    width: 100%;
    @media (max-width: $tablet) {
        font-size: rem-calc(24);
        line-height: rem-calc(28);
        margin-bottom: 18px;
    }
    &--secondary {
        font-size: rem-calc(24);
        line-height: rem-calc(28);
        font-weight: 600;
        margin-bottom: 0px;
        @media (max-width: $tablet) {
            font-size: rem-calc(20);
            line-height: rem-calc(23);
            margin-bottom: 25px;
        }
    }
    &--subtitle {
        font-size: rem-calc(18);
        line-height: rem-calc(21);
        font-weight: 500;
        @media (max-width: $tablet) {
            font-size: rem-calc(18);
            line-height: rem-calc(21);
            font-weight: 500;
        }
    }
    &--block {
        margin-bottom: 30px;
        @media (max-width: $tablet) {
            margin-bottom: 20px;
        }
    }
    &--light {
        color: $c-white-0;
        font-weight: 500;
    }
}

//Контейнер

.container {
    margin: 0 auto;
    padding: 0 26px;
    width: 100%;
    max-width: 1440px;
    @media (min-width: $mobile) {
        padding: 0 110px;
    }

    @media (min-width: $tablet) {
        padding: 0 220px;
    }
}

//tags

.tag-link {
    display: inline-block;
    padding: 4px 21.5px;
    font-size: rem-calc(14);
    line-height: rem-calc(16);
    color: $c-blue-300;
    margin-bottom: 15px;
    border: 1px solid $c-blue-300;
    border-radius: 2.5px;
    &--edu {
        color: $c-purple-0;
        border-color: $c-purple-0;
    }
    &--student {
        color: $c-purple-100;
        border-color: $c-purple-100;
    }
    &--science {
        color: $c-green-300;
        border-color: $c-green-300;
    }
    &--work {
        color: $c-brown-0;
        border-color: $c-brown-0;
    }
    &--achievements {
        color: $c-green-0;
        border-color: $c-green-0;
    }
}
