section.main
    include ./../titles/_titles.pug
    include ./../accordion/_accordion.pug
    include ./../gallery/_gallery
    include ./../text-content/_text-content
    include ./../news-block/_news-block
    include ./../rubricator/_rubricator
    include ./../announcement/_announcement
    include ./../buttons/_buttons
    include ./../checkboxes/_checkboxes
