main.main
    include ./../titles/_titles.pug
    include ./../accordion/_accordion.pug
    include ./../gallery/_gallery
    include ./../text-content/_text-content
    include ./../news-block/_news-block
    include ./../rubricator/_rubricator
    include ./../announcement/_announcement
    include ./../buttons/_buttons
    include ./../checkboxes/_checkboxes
    include ./../links/_links
    include ./../tabs/_tabs
    include ./../faq_links/_faq_links
    include ./../forms/_forms
    include ./../table/_table
