section.main__hero.hero
    a(href="#")
        picture
            source(srcset="img/main.webp" type="image/webp")
            img(src="img/main.jpg" alt="РГСУ: 29 лет вместе")
    .hero__container.container
        h2.hero__title Новости
        a(href="#").hero__descr РГСУ: 29 ЛЕТ ВМЕСТЕ. Поздравление от ректора Н.Б.Починок
        a(href="#").hero__more Больше
    
