section.hero.hero-main
    .hero__wrapper(style="background: url(img/main.jpg) no-repeat 100%/cover").hero-main__wrapper
        .hero__container.container
            .hero-main__container
                h2.hero__title.hero__main-title Новости
                p.hero__descr.hero__main-descr РГСУ: 29 ЛЕТ ВМЕСТЕ. Поздравление от ректора Н.Б. Починок
                a(href="#").hero__more.hero__main-more Больше
