section.actually
    .actually__container.container
        h2.actually__title.title.title--secondary Актуально
        a(href="#")
            picture
                source(srcset="img/image4.webp" type="image/webp")
                img(src="img/image4.jpg" alt="Рекомендации по профилактике COVID-19")
            p.actually__descr
                span Рекомендации по профилактике коронавирусной инфекции COVID-19
