.header__breadcrumbs.breadcrumbs
    .breadcrumbs__container.container
        ul.breadcrumbs__history
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Хлебные крошки
            li.breadcrumbs__item
                a.breadcrumbs__link(href="#") Хлебные крошки
            li.breadcrumbs__item
                a.breadcrumbs__link.breadcrumbs__link--current Хлебные крошки
